.jumbotron {
	margin-top: 8rem;
}

.body {
    font-family: 'Montserrat';font-size: 80px;
}

.paragraph {
    font-family: 'Montserrat';font-size: 30px;
}

.tombol {
	font-family: 'Montserrat';
}

.color {
	--tes: #38728B;
}

.margin {
	margin-left: 9.8rem;
}
